# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore macOS system files
.DS_Store

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore compiled C extensions
*.so

# Ignore package files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pycache__/

# Ignore coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Ignore mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ignore PyCharm project files
.idea/

# Ignore VS Code settings
.vscode/

# Ignore Cursor rules file
.cursorrules
